name: test

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"  # Lint can be done on latest Python only
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip
          restore-keys: ${{ runner.os }}-pip
      - name: Install dependencies
        run: python -m pip install flake8 pylint isort
      - name: Check pep8 with flake8
        run: |
          make flake8
      - name: Check sorted imports with isort
        run: |
          make isort
